<div class="container">

		<div class="row">

		<div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("overgrown_II.png"), image_url("overgrown_II.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Overgrown II</h5>
		        <h6>Oil, charcoal, and shellack on board. 900cm x 600cm $500.00</h6>
		      </div>
		</div>

		<div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("monstera.jpg"), image_url("monstera.jpg"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Monstera</h5>
		        <h6>Oil, acrylic, charcoal, and shellack on canvas. 70 x 75cm $500.00</h6>
		      </div>
		</div>					

		  <div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("winton_opt.jpg"), image_url("winton.jpg"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Winton</h5>
		        <h6>Acrylic on canvas. 90cm x 90cm. $750.00</h6>
		      </div>
		    </div>

		    <div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("fishing_at_the_spit_opt.jpg"), image_url("fishing_at_the_spit.jpg"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Fishing At The Spit</h5>
		        <h6>Oil on canvas. 1m x 76cm. $550.00</h6>
		      </div>
		    </div>

			<div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("monstera_II_opt.jpg"), image_url("monstera_II.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Monstera II</h5>
		        <h6>Oil, charcoal, and shellack on board. 900cm x 600cm $550.00</h6>
		      </div>
			</div>
		</div>

<!-- SECOND ROW TO SEPERATE VERTICAL PAINTINGS FROM HORIZONTAL PAINTINGS-->

		<div class="row">	

			
			<div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("monstera_II_detail_opt.jpg"), image_url("monstera_II_detail.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Monstera II</h5>
		        <h6>(Detail)</h6>
		      </div>
			</div>			    

		   <div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("monstera_III_opt.jpg"), image_url("monstera_III.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Monstera III</h5>
		        <h6>Oil, acrylic, charcoal and shellack on canvas. 70cm x 75cm $500.00</h6>
		      </div>
		    </div>

		    <div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("monstera_3_detail_opt.jpg"), image_url("monstera_3_detail.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Monstera III</h5>
		        <h6>(detail)</h6>
		      </div>
		    </div>

			<div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("overgrown_opt.jpg"), image_url("overgrown.png"),class: "thumbnail")  %>
		      <div class="caption">
		        <h5>Overgrown</h5>
		        <h6>Oil, charcoal, and shellack on board. 1000cm x 1200cm $910.00</h6>
		      </div>
			</div>		    

		    <div class="col-sm-6 col-md-4">
			<%= link_to(image_tag("still_life_opt.jpg"), image_url("still_life.jpg"),class: "thumbnail")  %>

		      <div class="caption">
		        <h5>Still Life</h5>
		        <h6>Oil on board. 60 x 40cm. $400.00</h6>
		      </div>
		    </div>
		</div>    
	</div>

<!-- SOCIAL MEDIA LINKS-->

			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 text-center">
			        <div  id="social-bar">
			        	<br>
			           <h5><strong>Follow Peta on social media</strong></h5>  
		        			<a href="http://instagram.com/petarattray_artshack/"><i class="fa fa-instagram"></i>  Instagram</a><br><br><hr>
		        			<p>Copyright 2015 Peta Rattray</p>
		        	</div>
		        </div>
		    </div>